.home_top_five {
  background-color: var(--foreground-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.home_top_five_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
