.profile_settings_avatar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.profile_settings_avatar_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile_settings_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: var(--background-color);
  border-top: 1px solid var(--foreground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

.profile_settings_footer button {
  max-width: 200px;
  width: 100%;
}

.profile_settings_footer_back_button {
  background-color: var(--secondary-text-color);
}

.ant-upload-list-item-actions .anticon-delete {
  color: var(--red-color) !important;
  font-size: 20px !important;
}

.profile_settings_avatar_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile_settings_avatar_buttons .ant-upload-list-item {
  max-width: 300px;
  width: 100%;
}
